flow.json
[
    {
        "id": "8ec3a2af1ea64eba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd060deed22ba85d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2666ccc076528a93",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "351a7fe1fa2da6c4",
        "type": "comment",
        "z": "8ec3a2af1ea64eba",
        "name": "",
        "info": "test 2 3\n\nTest 4\n\nTest 5 - FTP 3",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "7f2e758ae3734aec",
        "type": "split",
        "z": "8ec3a2af1ea64eba",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7977661b6f0be590",
        "type": "csv",
        "z": "8ec3a2af1ea64eba",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7585f7cc76b07068",
        "type": "html",
        "z": "8ec3a2af1ea64eba",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "",
        "ret": "html",
        "as": "single",
        "x": 470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3854934e45212705",
        "type": "comment",
        "z": "fd060deed22ba85d",
        "name": "",
        "info": "Comment 1",
        "x": 140,
        "y": 180,
        "wires": []
    },
    {
        "id": "4c0ebd412cbbb8f5",
        "type": "comment",
        "z": "2666ccc076528a93",
        "name": "",
        "info": "",
        "x": 620,
        "y": 200,
        "wires": []
    }
]