flow.json
[
    {
        "id": "8ec3a2af1ea64eba",
        "type": "tab",
        "label": "InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd060deed22ba85d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2666ccc076528a93",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d7e54ca.019d44",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "2.0",
        "url": "https://localhost:9999",
        "rejectUnauthorized": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "a67139c7.15ec68",
        "type": "inject",
        "z": "8ec3a2af1ea64eba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "15047e0e.e613f2"
            ]
        ]
    },
    {
        "id": "15047e0e.e613f2",
        "type": "function",
        "z": "8ec3a2af1ea64eba",
        "name": "multiple readings",
        "func": "msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date().getTime()-1\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date().getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "8caaee80.33352"
            ]
        ]
    },
    {
        "id": "8caaee80.33352",
        "type": "influxdb out",
        "z": "8ec3a2af1ea64eba",
        "influxdb": "5d7e54ca.019d44",
        "name": "",
        "measurement": "test",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "test",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "my-org",
        "bucket": "test",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "3854934e45212705",
        "type": "comment",
        "z": "fd060deed22ba85d",
        "name": "",
        "info": "Comment 1",
        "x": 140,
        "y": 180,
        "wires": []
    },
    {
        "id": "4c0ebd412cbbb8f5",
        "type": "comment",
        "z": "2666ccc076528a93",
        "name": "",
        "info": "",
        "x": 640,
        "y": 140,
        "wires": []
    }
]