flow.json
[
    {
        "id": "8ec3a2af1ea64eba",
        "type": "tab",
        "label": "InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd060deed22ba85d",
        "type": "tab",
        "label": "Scada test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2666ccc076528a93",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d7e54ca.019d44",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Test",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "2.0",
        "url": "http://192.168.50.203:48000/",
        "rejectUnauthorized": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "385ad2f4739b0b6c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ae9069447625b10",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "49273fa7f56bfd23",
        "type": "ui_group",
        "name": "SVG test",
        "tab": "385ad2f4739b0b6c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a80872b69dcf44c9",
        "type": "ui_group",
        "name": "Scoped style demo",
        "tab": "6f1c95444a84c32c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6f1c95444a84c32c",
        "type": "ui_tab",
        "name": "SVG styles",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a67139c7.15ec68",
        "type": "inject",
        "z": "8ec3a2af1ea64eba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "15047e0e.e613f2"
            ]
        ]
    },
    {
        "id": "15047e0e.e613f2",
        "type": "function",
        "z": "8ec3a2af1ea64eba",
        "name": "multiple readings",
        "func": "msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date().getTime()-1\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date().getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "8caaee80.33352"
            ]
        ]
    },
    {
        "id": "8caaee80.33352",
        "type": "influxdb out",
        "z": "8ec3a2af1ea64eba",
        "influxdb": "5d7e54ca.019d44",
        "name": "wsbd",
        "measurement": "test",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "test",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "wsbd",
        "bucket": "Demo",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "8cbf6c190e1236a9",
        "type": "ui_svg_graphics",
        "z": "fd060deed22ba85d",
        "group": "49273fa7f56bfd23",
        "order": 1,
        "width": 0,
        "height": 0,
        "svgString": "<svg version=\"1.0\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100.000000pt\" height=\"100.000000pt\"\n    viewBox=\"0 0 1034.000000 1034.000000\" preserveAspectRatio=\"xMidYMid meet\">\n\n    <g transform=\"translate(0.000000,1034.000000) scale(0.100000,-0.100000)\" fill=\"#000000\" stroke=\"none\">\n        <path d=\"M4885 9304 c-528 -40 -889 -115 -1295 -271 -835 -321 -1534 -874\n-2017 -1598 -497 -743 -746 -1605 -719 -2490 16 -554 116 -1028 322 -1522 427\n-1026 1213 -1822 2239 -2268 390 -170 801 -276 1260 -327 158 -17 690 -17 850\n0 710 77 1337 301 1930 689 877 575 1514 1481 1770 2518 90 363 120 625 119\n1035 0 314 -12 462 -59 735 -194 1123 -864 2153 -1810 2782 -592 394 -1222\n622 -1925 698 -139 15 -561 27 -665 19z m620 -839 c982 -116 1838 -627 2412\n-1440 317 -449 516 -973 589 -1550 25 -196 25 -634 0 -830 -98 -776 -427\n-1459 -962 -2000 -545 -551 -1218 -883 -2009 -991 -160 -22 -674 -26 -825 -6\n-163 21 -305 45 -313 52 -4 3 531 472 1189 1040 659 569 1229 1062 1268 1095\n39 34 240 207 446 385 206 178 422 365 480 415 58 50 173 149 255 220 83 71\n169 146 192 167 l42 38 -292 253 c-161 139 -764 662 -1342 1162 -2357 2041\n-2245 1943 -2222 1949 46 11 317 47 422 56 149 12 511 4 670 -15z m-263 -1922\nl1798 -1504 -33 -28 c-30 -26 -1338 -1122 -2852 -2390 -357 -299 -660 -553\n-672 -564 l-23 -20 -127 77 c-653 394 -1150 979 -1426 1681 -296 752 -315\n1617 -52 2385 232 675 686 1278 1270 1685 140 98 299 193 310 187 6 -3 819\n-683 1807 -1509z\" />\n    </g>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 660,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "12aaa7d977e7b617",
        "type": "inject",
        "z": "fd060deed22ba85d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e1855e93be9d39d7",
        "type": "ui_svg_graphics",
        "z": "fd060deed22ba85d",
        "group": "a80872b69dcf44c9",
        "order": 11,
        "width": 0,
        "height": 0,
        "svgString": "<svg x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n   <circle cx=\"50\" cy=\"50\" r=\"30\"/>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit !important;\n}\ncircle {\n  fill: red;\n}\n\n",
        "name": "",
        "x": 660,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d3ee148a86dd7dfd",
        "type": "ui_svg_graphics",
        "z": "fd060deed22ba85d",
        "group": "a80872b69dcf44c9",
        "order": 11,
        "width": 0,
        "height": 0,
        "svgString": "<svg x=\"0\" y=\"0\" height=\"100\" viewBox=\"0 0 100 100\" width=\"100\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n   <circle cx=\"50\" cy=\"50\" r=\"30\"/>\n</svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit !important;\n}\ncircle {\n  fill: blue;\n}\n\n",
        "name": "",
        "x": 660,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4c0ebd412cbbb8f5",
        "type": "comment",
        "z": "2666ccc076528a93",
        "name": "",
        "info": "",
        "x": 640,
        "y": 140,
        "wires": []
    }
]